{% extends 'accounts/main.html' %}
{% load static %}

	{% block content %}

	<h1>Electronic Circuits Course Details with All information and matterials</h1>

		<br>
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<img src="{% static '/images/eng2.jpg'%}" />
						<div class="ci-thumb set-bg" data-setbg="/images/eng2.jpg"></div>
						<div class="ci-text">
							<h5>English Basic Learning</h5>
							<p>Learn fluent English in few days.</p>
							<span>12 Courses</span>
						</div>
					</div>
				</div>
								<iframe width="560" height="315" src="https://www.youtube.com/embed/juKd26qkNAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div class="row">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QEsyuQcDXVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

	{% endblock %}