{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
    crossorigin="anonymous" 

    />
    <title>Sign in and Sign Up Form</title>
    <link rel="stylesheet" href="{% static '/css/styles.css'%}" />

</head>

<script>
const sign_in_btn = document.querySelector('#sign-in-button');
const sign_up_btn = document.querySelector('#sign-up-button');
const container = document.querySelector('.container');

sign_up_btn.addEventListener('click', () => {container.classList.add('sign-up-mode');
});

sign_in_btn.addEventListener('click', () => {container.classList.remove('sign-up-mode');});



</script>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="POST" action="#" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <span type="text" name="form.username" placeholder="Username" >
                        {{form.username}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <span type="email" name="form.email" placeholder="Email" >
                        {{form.email}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <span type="password1" name="form.password" placeholder="Password1" >
                        {{form.password1}}
                        
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <span type="password2" name="form.password2" placeholder="Password2" >
                        {{form.password2}}
                        
                    </div>

                    <input type="submit" class="btn solid" value="Register Account" />
                </form>
                {{form.errors}}
                    <p class="social-text">Find us in social platforms</p>
                    <div class="social-media">
                        <a href="https://www.facebook.com/elearning4sale" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/ilearnSA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="http://www.ilearn.com/
                        " class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCREcqFXXtrX7cwakAFHPz1w" class="social-icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already have an account?</h3>
                    <p></p>
                    <a href="{% url 'login' %}" class="btn transparent"  id="sign-up-button">Sign in </a>
                </div>
                <img src="/images/log.svg" alt="" class="image" />
            </div>
            
        </div>
    </div> 
</body>
</html>