{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/RHqHQXZ7JAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
<h4>The Challenge:</h4>
 Providing Online Learners with the Best Opportunity for Success
In order to have the best opportunity for success in their studies, online learners need access to more than course content and effective teaching. They need access to a wide range of support services that help them to engage with their institution and instructors, succeed in their studies, connect with each other, and make a successful transition to the workplace.

Online students need access to all the services available to on-campus students: recruitment, enrolment management, orientation, advising and counseling, records, registration, credit evaluation, financial aid, academic skills assessment and development, academic writing centres, advocacy, special needs assistance, learning resource centres and libraries, bookstores, and computer labs and technical help desks.

Needs of Online Learners
Unique demands of online learning

Online learners have some unique needs due to the nature of their mode of study, such as time management and self-directed learning. Reading quickly with good comprehension, communicating effectively in writing, taking initiative in communicating with peers, and working collaboratively online in small and large groups are essential skills in a virtual environment.

Early intervention

When online learners drop their studies, they do so early, usually at the very beginning of their first course, and not surprisingly, a learner who completes one online course successfully is much more likely to continue with their online studies. The critical nature of the first year experience has been recognized on campus with the development of support services specifically designed to meet this need.

Diversity

Online students are characterized by their diversity. Attracted by the accessibility of online study, these learners include many working adults as well as younger students who are combining online learning with classroom courses for great flexibility.  Prospective learners who have been away from formal study for a significant period likely need help with assessing academic preparedness. First Nations students may benefit from services that are responsive to their cultural needs and values. Younger students may need assistance with the developing skills such as time management.
<h4>Peer-to-peer support</h4>


Isolation resulting from insufficient academic and social is a reason that distance learners may drop out. Somewhat ironically, improved efficiency in the form of online self-service transactions can contribute to a sense of anonymity, making efforts to create a social atmosphere for online learners that much more important. Web-based technologies offer unique opportunities to facilitate the important social component of belonging to an academic community, facilitate peer to peer support, and teach critical skills of collaborative online learning. Equally importantly, as institutions grapple with how to provide quality support to greater numbers of students, it is likely that learning communities offering peer support will become that much more critical.
<h4>Access</h4>


Perhaps most importantly, learners who choose to study online do so for the convenience and flexibility. They need access to learning resources and services in the same way that they have access to their courses, that is, online and on demand. Online students need access to 24/7 technical help and library resources, the ability to self manage their administrative services such as registration, course changes and financial transactions online, access to a variety of self-help resources such as skill development tutorials, virtual spaces to meet with peers, and when necessary, access to student services staff beyond normal office hours.</p>

	  {% endblock %}
