{% extends 'accounts/main.html' %}
{% load static %}

	{% block content %}

	<h1>Web Design Course Details with All information and matterials</h1>


		<br>

				<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<img src="{% static '/images/web1.jpg'%}" />
						<div class="ci-thumb set-bg" data-setbg="/images/web1.jpg"></div>
						<div class="ci-text">
							<h5>IT Development</h5>
							<p>Good IT related courses.</p>
							<span>10 Courses</span>
						</div>
					</div>
				</div>


				<iframe width="560" height="315" src="https://www.youtube.com/embed/C72WkcUZvco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="row">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/R_gFhRsWLMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/mQeplLGXIY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OUp7ale49lI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
		<br>
	<div class="row">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/BN8pC91rJaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/TDRhwSfxYkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/UuPt4RpV4Xc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
	{% endblock %}